In [13]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from env import user, password, host
import warnings
warnings.filterwarnings('ignore')

def acquire_mall():
    if os.path.exists('customers.csv'):
        return pd.read_csv('customers.csv', index_col=0)
    else:
        ''' Acquire data from mall_customers using env imports and rename columns'''

        url = f"mysql+pymysql://{user}:{password}@{host}/mall_customers"

        query = """
        SELECT *
        FROM customers
        """

        df = pd.read_sql(query, url)


        
        return df

In [15]:
mall = acquire_mall()

In [18]:
mall.shape

(200, 5)

In [20]:
mall.describe()

       customer_id         age  annual_income  spending_score
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

In [21]:
type(mall)

pandas.core.frame.DataFrame